{
  "openapi": "3.1.0",
  "info": {
    "title": "SIGA API",
    "version": "0.5.9.0-202609281601",
    "description": "API do **SIGA** — Segurança Integrada, Gestão e Automação.\n\n## Como esta documentação está organizada\n\nO menu segue os **mesmos módulos da tela do SIGA**: MEDICINA, SAÚDE MENTAL,\nTELEMEDICINA, AUDITORIA E PESQUISA, TAREFAS E PROJETOS, COMERCIAL (CRM),\nADMINISTRATIVO, ENGENHARIA, INTEGRAÇÕES e CONFIGURAÇÕES. Uma funcionalidade que\nvocê usa na tela, num módulo, tem as rotas no grupo de mesmo nome. Os grupos\n**ACESSO** (login e `/me`), **DASHBOARD** (indicadores e relatórios) e\n**APOIO** (catálogos auxiliares, como cidades, CNAE e feriados) não têm módulo\npróprio na tela.\n\n## Autenticação\n\nSão **três credenciais**, cada uma no seu header. Envie **uma** delas:\n\n| Credencial | Header | Alcance |\n|---|---|---|\n| **API Token de pessoa** (`yvx_...`) | `X-API-Key: yvx_...` | **Toda a API.** É o caminho de integração |\n| **JWT (RS256)** | `Authorization: Bearer <jwt>` | Toda a API. É o caminho da tela |\n| **Token de leads** | `X-API-Leads: <segredo>` | Só `POST /api/v1/leads` e `POST /api/v1/leads/{slug}` |\n\n### API Token — integração máquina a máquina\n\nO `X-API-Key` é o token **principal** para integrar com o SIGA sem usuário e\nsenha. Ele vale em **qualquer endpoint** desta documentação, com exatamente as\npermissões do perfil de acesso da pessoa dona do token — as mesmas regras que\nvalem para o JWT. Não existe endpoint reservado ao JWT.\n\n```http\nPOST /api/v1/pessoas HTTP/1.1\nHost: api-siga.yavix.app\nX-API-Key: yvx_0QNQBJRD9JKVWXYZ_a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6q7r8s9t0\nContent-Type: application/json\n```\n\n**Ciclo de vida do token**\n\n- **Emissão:** `POST /api/v1/pessoas/{id}/token-api` — exige role `admin` ou\n  `gerente_sst` **e** a permissão `pessoas:token_api`. O segredo aparece\n  **uma única vez**; guarde no ato.\n- **Validade:** opcional. Sem data o token não expira — a revogação é o\n  controle. Com data, o máximo é 365 dias.\n- **Revogação:** `DELETE /api/v1/pessoas/{id}/token-api`, com efeito imediato.\n  Desativar a pessoa ou trocar o perfil dela também vale na hora: o perfil é\n  lido do banco a cada requisição.\n\n**O escopo é o do perfil, não do token.** Crie uma pessoa de serviço (ex.:\n`integracao@cliente.com.br`) com um perfil de acesso que tenha só o que a\nintegração precisa. Um token emitido para alguém `admin` carrega acesso\nirrestrito.\n\n**Caso de uso típico — o cliente envia os próprios cadastros e atendimentos:**\n\n| Ação | Endpoint | Permissão no perfil |\n|---|---|---|\n| Cadastrar colaborador | `POST /api/v1/pessoas` | `pessoas:criar` |\n| Consultar colaborador | `GET /api/v1/pessoas` | `pessoas:listar` |\n| Atualizar colaborador | `PUT /api/v1/pessoas/{id}` | `pessoas:editar` |\n| Solicitar atendimento | `POST /api/v1/atendimentos` | `atendimentos:criar` |\n| Acompanhar atendimento | `GET /api/v1/atendimentos` | `atendimentos:listar` |\n| Enviar planilha em lote | `POST /api/v1/importacoes/validar` depois `POST /api/v1/importacoes/{id}/confirmar` | `importacoes:criar` |\n\nO tenant vem da pessoa dona do token; os endpoints que aceitam `tenantId` só\nadmitem tenants da árvore a que ela tem acesso.\n\n### JWT\n\nEmitido pelo IdP (RS256). Obtenha via `POST /api/v1/auth/login` ou direto no\nIdP. É o que a aplicação web usa.\n\n### Token de leads — header `X-API-Leads`\n\nVale **só** em duas rotas: `POST /api/v1/leads` (cadastro) e\n`POST /api/v1/leads/{slug}` (captação por campanha). Em qualquer outra rota o\nheader é ignorado. O `X-API-Leads` aceita um de dois valores:\n\n1. **Token estático de máquina.** Não tem pessoa nem perfil: o próprio segredo\n   autoriza. Fica configurado no servidor, e não no banco, e é entregue ao\n   integrador fora de banda. Para trocá-lo é preciso reconfigurar o servidor.\n2. **Token de pessoa** (`yvx_...`, o mesmo do `X-API-Key`). Aí o perfil da\n   pessoa vale, e a chamada exige a permissão `leads:criar`.\n\n```http\nPOST /api/v1/leads/form-supermercados HTTP/1.1\nHost: api-siga.yavix.app\nX-API-Leads: <token de leads>\nContent-Type: application/json\n```\n\n> **Mudança incompatível (v0.5.4.0, 2026-09-28): `X-API-Token` → `X-API-Leads`.**\n> O header antigo `X-API-Token` foi **removido sem período de transição**. O\n> token continua o mesmo; só muda o nome do header. Uma chamada que ainda\n> envie `X-API-Token` recebe:\n>\n> ```json\n> { \"error\": \"HEADER_RENOMEADO\", \"message\": \"O header X-API-Token foi renomeado para X-API-Leads. Envie o mesmo token em X-API-Leads.\", \"timestamp\": \"...\" }\n> ```\n>\n> com status **401**, e a tentativa fica registrada na auditoria. Sem nenhum\n> dos dois headers, a resposta é **401** `X-API-Leads header obrigatório`.\n> Para migrar, troque o nome do header na integração, sem mudar o valor.\n\n**Tenant do lead — campo `tenantId` no corpo** (opcional, `ten_...`), nas\nduas rotas:\n\n| Situação | Tenant gravado |\n|---|---|\n| `tenantId` informado | o informado; o CNPJ só liga empresa **desse** tenant |\n| sem `tenantId`, CNPJ de uma única empresa (só `POST /leads`) | o tenant da empresa |\n| sem `tenantId`, nos demais casos | **DOZE** |\n\n`tenantId` inexistente ou inativo → **400** `TENANT_INVALIDO`. Com token\nde pessoa (`yvx_`), o tenant precisa estar na hierarquia dela → senão **403**\n`TENANT_ESCRITA_NEGADA`. O token estático aceita qualquer tenant ativo.\n\n### Limite de requisições\n\nOpcional, por token. Quando o tenant define o parâmetro `API_RATE_LIMIT`\n(inteiro = requisições por minuto), o excesso responde **429** com\n`Retry-After` e `X-RateLimit-Limit` / `X-RateLimit-Remaining` /\n`X-RateLimit-Reset`. Sem o parâmetro, não há limite.\n\nToda chamada autenticada por token (`X-API-Key` ou `X-API-Leads`) é auditada.\n\n## Erros\n\nResposta padronizada em toda falha:\n\n```json\n{ \"error\": \"Forbidden\", \"message\": \"Permissão insuficiente\", \"timestamp\": \"2026-08-28T12:00:00.000Z\" }\n```\n\n**401** token ausente, inválido, expirado ou revogado · **403** autenticado, mas\no perfil não tem a permissão exigida · **400** payload inválido (o campo vem em\n`message`) · **429** cota do `API_RATE_LIMIT` excedida.\n\n## Paginação\n\nEndpoints de listagem retornam:\n\n```json\n{\n  \"content\": [...],\n  \"page\": 0,\n  \"size\": 20,\n  \"totalElements\": 100,\n  \"totalPages\": 5,\n  \"hasNextPage\": true,\n  \"hasPreviousPage\": false\n}\n```\n\nQuery params: `page` (0-based, default 0) + `size` (default 20, max 100).\n\n## IDs\n\nTodos os IDs são **TSIDs prefixados por entidade** (ex: `\"pes_0QNQBJRD9JKVW\"`, `\"org_0QNQBJRD9JKVW\"`).\n- Respostas: todo id sai no formato prefixado (campo `id` e FKs).\n- Entradas (path/query/body): aceitam SOMENTE o formato prefixado da entidade correta — outro formato retorna 400.",
    "contact": {
      "name": "Equipe SIGA",
      "email": "tecnologia@yavix.com.br",
      "url": "https://yavix.com.br"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://yavix.com.br"
    }
  },
  "servers": [
    {
      "url": "https://api-siga.yavix.app",
      "description": "Producao"
    }
  ],
  "x-logo": {
    "url": "https://aaurus-public.s3.amazonaws.com/yavix/logo/Logo-12.png",
    "altText": "SIGA",
    "backgroundColor": "#ffffff"
  },
  "tags": [
    {
      "name": "Autenticação",
      "description": "Login por usuário e senha, que devolve o JWT usado pela tela. Integração máquina a máquina usa `X-API-Key` e não passa por aqui."
    },
    {
      "name": "Meu perfil",
      "description": "Dados, preferências e token de API da pessoa autenticada (`/me`)."
    },
    {
      "name": "Dashboard",
      "description": "Indicadores da tela inicial: KPIs, atendimentos por dia e por status."
    },
    {
      "name": "Relatórios",
      "description": "Contagens agregadas prontas (\"por empresa\", \"por status\", \"por mês\"). Prefira estas rotas a listar e somar."
    },
    {
      "name": "Assistente",
      "description": "Assistente de IA da tela: conversa, histórico e consumo."
    },
    {
      "name": "Atendimentos",
      "description": "Exames ocupacionais: solicitação, agendamento, realização, resultado (ASO) e documentos."
    },
    {
      "name": "Exames realizados",
      "description": "Os procedimentos feitos dentro de um atendimento, com resultado e anexos."
    },
    {
      "name": "Procedimentos",
      "description": "Catálogo de procedimentos (eSocial + TUSS), categorias e modelos de impressão."
    },
    {
      "name": "Tipos de exame",
      "description": "Tipos de exame ocupacional (admissional, periódico, demissional, …)."
    },
    {
      "name": "Recomendação de exames",
      "description": "Quais procedimentos o PCMSO exige por setor e cargo."
    },
    {
      "name": "Clínicas",
      "description": "Clínicas credenciadas onde os exames são realizados."
    },
    {
      "name": "Médico responsável",
      "description": "Médico responsável pelo PCMSO de cada empresa."
    },
    {
      "name": "Formulários NR-1",
      "description": "Questionários psicossociais da NR-1 (COPSOQ, HSE-IT): aplicação e respostas."
    },
    {
      "name": "Saúde mental — análise e ações",
      "description": "Análise dos resultados psicossociais e sugestões de ações."
    },
    {
      "name": "Telemedicina",
      "description": "Link de login automático na plataforma de telemedicina."
    },
    {
      "name": "Auditoria e Pesquisa",
      "description": "Pesquisas, avaliações e checklists feitos com formulários dinâmicos, com visões de lista, Kanban, Gantt e calendário."
    },
    {
      "name": "Respostas de formulários",
      "description": "Respostas gravadas dos formulários dinâmicos, por código de formulário."
    },
    {
      "name": "Link público",
      "description": "Pesquisa respondida por link público, sem autenticação (o token vai no caminho)."
    },
    {
      "name": "Quadros de trabalho",
      "description": "Quadros Kanban/Gantt: colunas, situações, campos e visão completa."
    },
    {
      "name": "Cards",
      "description": "Cards dos quadros — tarefas, chamados e oportunidades do CRM (a proposta comercial mora no card)."
    },
    {
      "name": "Projetos",
      "description": "Projetos que agrupam cards de vários quadros."
    },
    {
      "name": "Minhas solicitações",
      "description": "Solicitações e chamados que a pessoa autenticada abriu (ou o setor dela) nos quadros liberados."
    },
    {
      "name": "Métricas de tarefas",
      "description": "Fluxo, prazo, esforço, funil e encerramento dos quadros."
    },
    {
      "name": "Leads",
      "description": "Entrada de leads e fila de qualificação. `POST /leads` e `POST /leads/{slug}` autenticam pelo header `X-API-Leads` (o antigo `X-API-Token` responde 401) e aceitam `tenantId` opcional no corpo; as demais rotas usam a autenticação padrão."
    },
    {
      "name": "Contatos",
      "description": "Contatos comerciais das empresas e leads."
    },
    {
      "name": "Propostas",
      "description": "Listagem transversal das propostas comerciais. A edição de uma proposta é feita pelas rotas do card."
    },
    {
      "name": "Catálogo de serviços",
      "description": "Serviços vendáveis e a taxonomia de grupos e subgrupos."
    },
    {
      "name": "Tabelas de preço",
      "description": "Tabelas de preço e o preço de cada serviço, com herança da base nacional."
    },
    {
      "name": "Carga de preços",
      "description": "Importação de preços em lote: prévia e confirmação."
    },
    {
      "name": "Pacotes",
      "description": "Pacotes de serviços com medidas prontas, versionados."
    },
    {
      "name": "Sugestão de escopo",
      "description": "Regras que sugerem serviços para a proposta a partir do perfil da empresa."
    },
    {
      "name": "Pessoas",
      "description": "Colaboradores das empresas e usuários do sistema."
    },
    {
      "name": "Dependentes",
      "description": "Dependentes de uma pessoa."
    },
    {
      "name": "Organizações",
      "description": "Empresas (matrizes e filiais) atendidas pelo tenant."
    },
    {
      "name": "Setores",
      "description": "Setores e locais de trabalho da empresa, com os cargos de cada um."
    },
    {
      "name": "Importações",
      "description": "Carga em lote por planilha XLSX (funcionários, setores, cargos): validar e confirmar."
    },
    {
      "name": "Cargos",
      "description": "Cargos, com CBO e os vínculos de riscos, exames e EPCs."
    },
    {
      "name": "CBOs",
      "description": "Catálogo da Classificação Brasileira de Ocupações."
    },
    {
      "name": "Hierarquia",
      "description": "Árvore organizacional (empresa, setores e subsetores) e o layout do diagrama."
    },
    {
      "name": "Riscos",
      "description": "Riscos ocupacionais e suas categorias."
    },
    {
      "name": "Parametrização SST",
      "description": "Parametrização de SST por nó da hierarquia."
    },
    {
      "name": "EPIs",
      "description": "Equipamentos de proteção individual."
    },
    {
      "name": "Tipos de EPI",
      "description": "Catálogo de tipos de EPI."
    },
    {
      "name": "Tipos de EPC",
      "description": "Catálogo de tipos de EPC (proteção coletiva)."
    },
    {
      "name": "Normas Regulamentadoras",
      "description": "Catálogo das NRs."
    },
    {
      "name": "Agentes nocivos",
      "description": "Tabela 24 do eSocial: agentes nocivos."
    },
    {
      "name": "Integrações",
      "description": "Integrações com sistemas externos: configuração, envio e histórico."
    },
    {
      "name": "Filas",
      "description": "Painel das filas de processamento em segundo plano (restrito a admin)."
    },
    {
      "name": "Agendas",
      "description": "Agendas das clínicas: horários disponíveis para marcar exames."
    },
    {
      "name": "Formulários",
      "description": "Construtor de formulários dinâmicos: estrutura, versões e catálogo de campos."
    },
    {
      "name": "Médicos",
      "description": "Cadastro nacional de médicos, com busca por nome ou CRM."
    },
    {
      "name": "Notificações",
      "description": "Caixa de mensagens, comunicados e alcance de envio."
    },
    {
      "name": "Parâmetros",
      "description": "Parâmetros da plataforma e de cada tenant."
    },
    {
      "name": "Perfis",
      "description": "Perfis de acesso do tenant e perfis globais."
    },
    {
      "name": "Permissões",
      "description": "Permissões que podem compor um perfil."
    },
    {
      "name": "Ramos de atividade",
      "description": "Ramos de atividade das empresas."
    },
    {
      "name": "Tenants",
      "description": "Tenants (contas) e a hierarquia entre eles. Restrito a `admin`."
    },
    {
      "name": "Tipos de documento",
      "description": "Tipos de documento ativos (globais e do tenant)."
    },
    {
      "name": "Cidades",
      "description": "Catálogo de cidades (IBGE)."
    },
    {
      "name": "CNAEs",
      "description": "CNAE e o grau de risco da NR-4."
    },
    {
      "name": "Feriados",
      "description": "Feriados nacionais do ano."
    },
    {
      "name": "Clima",
      "description": "Previsão do tempo."
    },
    {
      "name": "Geo",
      "description": "Geocodificação de endereço."
    },
    {
      "name": "IA",
      "description": "Utilitários de IA, como melhorar um texto."
    },
    {
      "name": "Timeline",
      "description": "Linha do tempo e comentários de qualquer registro, com busca por #hashtag."
    }
  ],
  "x-tagGroups": [
    {
      "name": "ACESSO",
      "tags": [
        "Autenticação",
        "Meu perfil"
      ]
    },
    {
      "name": "DASHBOARD",
      "tags": [
        "Dashboard",
        "Relatórios",
        "Assistente"
      ]
    },
    {
      "name": "MEDICINA",
      "tags": [
        "Atendimentos",
        "Exames realizados",
        "Procedimentos",
        "Tipos de exame",
        "Recomendação de exames",
        "Clínicas",
        "Médico responsável"
      ]
    },
    {
      "name": "SAÚDE MENTAL",
      "tags": [
        "Formulários NR-1",
        "Saúde mental — análise e ações"
      ]
    },
    {
      "name": "TELEMEDICINA",
      "tags": [
        "Telemedicina"
      ]
    },
    {
      "name": "AUDITORIA E PESQUISA",
      "tags": [
        "Auditoria e Pesquisa",
        "Respostas de formulários",
        "Link público"
      ]
    },
    {
      "name": "TAREFAS E PROJETOS",
      "tags": [
        "Quadros de trabalho",
        "Cards",
        "Projetos",
        "Minhas solicitações",
        "Métricas de tarefas"
      ]
    },
    {
      "name": "COMERCIAL (CRM)",
      "tags": [
        "Leads",
        "Contatos",
        "Propostas",
        "Catálogo de serviços",
        "Tabelas de preço",
        "Carga de preços",
        "Pacotes",
        "Sugestão de escopo"
      ]
    },
    {
      "name": "ADMINISTRATIVO",
      "tags": [
        "Pessoas",
        "Dependentes",
        "Organizações",
        "Setores",
        "Importações"
      ]
    },
    {
      "name": "ENGENHARIA",
      "tags": [
        "Cargos",
        "CBOs",
        "Hierarquia",
        "Riscos",
        "Parametrização SST",
        "EPIs",
        "Tipos de EPI",
        "Tipos de EPC",
        "Normas Regulamentadoras",
        "Agentes nocivos"
      ]
    },
    {
      "name": "INTEGRAÇÕES",
      "tags": [
        "Integrações",
        "Filas"
      ]
    },
    {
      "name": "CONFIGURAÇÕES",
      "tags": [
        "Agendas",
        "Formulários",
        "Médicos",
        "Notificações",
        "Parâmetros",
        "Perfis",
        "Permissões",
        "Ramos de atividade",
        "Tenants",
        "Tipos de documento"
      ]
    },
    {
      "name": "APOIO",
      "tags": [
        "Cidades",
        "CNAEs",
        "Feriados",
        "Clima",
        "Geo",
        "IA",
        "Timeline"
      ]
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT RS256 emitido pelo IdP. Header: `Authorization: Bearer <token>`."
      },
      "apiToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Leads",
        "description": "Header do intake de leads (`POST /leads` e `POST /leads/{slug}`). Até a v0.5.3 se chamava `X-API-Token`; o nome antigo foi REMOVIDO sem transição e agora responde 401 com a instrução de usar `X-API-Leads` — o valor do token não muda.\n\nAceita DUAS credenciais distintas:\n\n1. **Token estático de máquina** (`API_TOKEN_LEADS`) — é o único acesso da API **sem pessoa por trás**: não tem perfil nem tenant, e o próprio segredo é a autorização.\n2. **Token de pessoa** (`yvx_{prefixo}_{segredo}`, o mesmo do `X-API-Key`) — aí o perfil vale, e a chamada exige a permissão `leads:criar`.\n\nToda chamada é auditada em `chamadas_api_key`. O `API_RATE_LIMIT` se aplica aos dois: o token de pessoa usa a cota do tenant dela, o estático usa a de plataforma."
      },
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Token de API da pessoa (`yvx_{prefixo}_{segredo}`), alternativa ao `Authorization: Bearer` em **qualquer** rota autenticada. Vale exatamente as permissões do perfil da pessoa dona — as mesmas regras de `requireEntitlement` do JWT. Emitido em `POST /pessoas/{id}/token-api` (exige role `admin`/`gerente_sst` + `pessoas:token_api`) e revogado em `DELETE /pessoas/{id}/token-api`, com efeito imediato: o perfil é lido do banco a cada requisição. Expiração é opcional. Quando o tenant tem o parâmetro `API_RATE_LIMIT` definido, vale a cota em requisições por minuto por token, e o excesso responde 429 com `Retry-After`."
      }
    },
    "schemas": {
      "LoginUserInfo": {
        "type": "object",
        "nullable": true,
        "properties": {
          "id": {
            "type": "string",
            "example": "pes_0QNQBJRD9JKVW"
          },
          "fullName": {
            "type": "string",
            "example": "Fabio Junior Walter"
          },
          "roleSlug": {
            "type": "string",
            "nullable": true,
            "example": "admin"
          },
          "roleName": {
            "type": "string",
            "nullable": true,
            "example": "Administrador SIGA"
          },
          "tenantId": {
            "type": "string",
            "example": "ten_0DZ7EE6RYAC02"
          },
          "tenantName": {
            "type": "string",
            "example": "SIGA Tecnologia"
          },
          "organizationId": {
            "type": "string",
            "nullable": true,
            "example": "org_0DZ7EE6RYAC81"
          }
        },
        "required": [
          "id",
          "fullName",
          "roleSlug",
          "roleName",
          "tenantId",
          "tenantName",
          "organizationId"
        ],
        "description": "null quando o login foi feito sem tenantSlug/tenantCode (perfil via GET /me)"
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string",
            "example": "eyJraWQiOiJ2MSIs..."
          },
          "refreshToken": {
            "type": "string",
            "nullable": true,
            "example": "9cfe105e-ec78-4ea7-b606-557c162ecf4f"
          },
          "expiresIn": {
            "type": "number",
            "nullable": true,
            "example": 900
          },
          "tokenType": {
            "type": "string",
            "example": "Bearer"
          },
          "user": {
            "$ref": "#/components/schemas/LoginUserInfo"
          }
        },
        "required": [
          "accessToken",
          "refreshToken",
          "expiresIn",
          "tokenType",
          "user"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "NOT_FOUND"
          },
          "message": {
            "type": "string",
            "example": "Recurso não encontrado"
          },
          "timestamp": {
            "type": "string",
            "example": "2026-06-19T12:00:00.000Z"
          }
        },
        "required": [
          "error",
          "message",
          "timestamp"
        ]
      },
      "LoginRequest": {
        "type": "object",
        "properties": {
          "tenantSlug": {
            "type": "string",
            "description": "Slug do tenant (ex: 'dozemed'). Use este ou tenantCode.",
            "example": "dozemed"
          },
          "tenantCode": {
            "type": "string",
            "description": "Código numérico do tenant. Alternativa ao tenantSlug.",
            "example": "10042"
          },
          "login": {
            "type": "string",
            "minLength": 1,
            "description": "CPF (11 dígitos, sem pontuação) ou e-mail.",
            "example": "05254498927"
          },
          "password": {
            "type": "string",
            "minLength": 1,
            "description": "Senha do usuário.",
            "example": "Senha@123"
          }
        },
        "required": [
          "login",
          "password"
        ]
      },
      "Parametro": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "prm_0QNQBJRD9JKVW"
          },
          "chave": {
            "type": "string",
            "example": "SMTP_HOST"
          },
          "valor": {
            "type": "string",
            "nullable": true,
            "description": "Valor em claro quando isSecreta=false; \"__SECRETO__\" quando secreto"
          },
          "descricao": {
            "type": "string",
            "nullable": true
          },
          "isSecreta": {
            "type": "boolean"
          },
          "ativo": {
            "type": "boolean"
          },
          "criadoEm": {
            "type": "string"
          },
          "atualizadoEm": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "chave",
          "valor",
          "descricao",
          "isSecreta",
          "ativo",
          "criadoEm",
          "atualizadoEm"
        ]
      },
      "ParametroInput": {
        "type": "object",
        "properties": {
          "chave": {
            "type": "string",
            "pattern": "^[A-Z0-9_]{2,100}$"
          },
          "valor": {
            "type": "string",
            "nullable": true,
            "maxLength": 20000
          },
          "descricao": {
            "type": "string",
            "nullable": true,
            "maxLength": 4000
          },
          "isSecreta": {
            "type": "boolean",
            "default": true
          },
          "ativo": {
            "type": "boolean",
            "default": true
          }
        },
        "required": [
          "chave"
        ]
      },
      "Tenant": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "ten_0QNQBJRD9JKV0"
          },
          "nome": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "tipo": {
            "type": "string",
            "nullable": true
          },
          "codigo": {
            "type": "string",
            "nullable": true
          },
          "tenantPaiId": {
            "type": "string",
            "nullable": true,
            "example": "ten_0DZ7EE6RYAC02"
          },
          "cnpj": {
            "type": "string",
            "nullable": true
          },
          "codigoIntegracao": {
            "type": "string",
            "nullable": true
          },
          "codigosExternos": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "ramoAtividadeId": {
            "type": "string",
            "nullable": true,
            "example": "ram_000000000000N"
          },
          "ramoAtividadeNome": {
            "type": "string",
            "nullable": true
          },
          "anexos": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "fileType": {
                  "type": "string"
                },
                "fileName": {
                  "type": "string"
                },
                "s3Path": {
                  "type": "string"
                },
                "public": {
                  "type": "boolean"
                },
                "publicLink": {
                  "type": "string",
                  "nullable": true
                },
                "tipoDocumentoId": {
                  "type": "string",
                  "nullable": true
                }
              },
              "required": [
                "fileType",
                "fileName",
                "s3Path",
                "public",
                "publicLink"
              ]
            },
            "description": "Documentos do tenant (S3 privado, feature-022)"
          },
          "ativo": {
            "type": "boolean"
          },
          "criadoEm": {
            "type": "string"
          },
          "atualizadoEm": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "nome",
          "slug",
          "tipo",
          "codigo",
          "tenantPaiId",
          "cnpj",
          "codigoIntegracao",
          "codigosExternos",
          "ramoAtividadeId",
          "ramoAtividadeNome",
          "anexos",
          "ativo",
          "criadoEm",
          "atualizadoEm"
        ]
      },
      "TenantPage": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tenant"
            }
          },
          "page": {
            "type": "integer"
          },
          "size": {
            "type": "integer"
          },
          "totalElements": {
            "type": "integer"
          },
          "totalPages": {
            "type": "integer"
          },
          "hasNextPage": {
            "type": "boolean"
          },
          "hasPreviousPage": {
            "type": "boolean"
          }
        },
        "required": [
          "content",
          "page",
          "size",
          "totalElements",
          "totalPages",
          "hasNextPage",
          "hasPreviousPage"
        ]
      },
      "CriarTenant": {
        "type": "object",
        "properties": {
          "nome": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "example": "Nova Empresa SST"
          },
          "tipo": {
            "type": "string",
            "nullable": true,
            "enum": [
              "PARTNER",
              "CLIENT",
              "INTERNAL"
            ],
            "example": "CLIENT"
          },
          "tenantPaiId": {
            "type": "string",
            "example": "ten_0DZ7EE6RYAC02"
          },
          "cnpj": {
            "type": "string",
            "nullable": true,
            "maxLength": 20,
            "example": "12.345.678/0001-95"
          },
          "codigoIntegracao": {
            "type": "string",
            "nullable": true,
            "maxLength": 255
          },
          "codigosExternos": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "type": "string"
            }
          },
          "ramoAtividadeId": {
            "type": "string",
            "description": "Ramo de atividade (feature-044) — opcional",
            "example": "ram_0QNQBJRD9JKVW"
          },
          "slug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "pattern": "^[a-z0-9-]+$",
            "example": "nova-sst"
          }
        },
        "required": [
          "nome",
          "slug"
        ]
      },
      "AtualizarTenant": {
        "type": "object",
        "properties": {
          "nome": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "example": "Nova Empresa SST"
          },
          "tipo": {
            "type": "string",
            "nullable": true,
            "enum": [
              "PARTNER",
              "CLIENT",
              "INTERNAL"
            ],
            "example": "CLIENT"
          },
          "tenantPaiId": {
            "type": "string",
            "example": "ten_0DZ7EE6RYAC02"
          },
          "cnpj": {
            "type": "string",
            "nullable": true,
            "maxLength": 20,
            "example": "12.345.678/0001-95"
          },
          "codigoIntegracao": {
            "type": "string",
            "nullable": true,
            "maxLength": 255
          },
          "codigosExternos": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "type": "string"
            }
          },
          "ramoAtividadeId": {
            "type": "string",
            "description": "Ramo de atividade (feature-044) — opcional",
            "example": "ram_0QNQBJRD9JKVW"
          },
          "ativo": {
            "type": "boolean",
            "nullable": true,
            "description": "Situação (feature-022) — tenant nunca é excluído, só inativado/reativado"
          }
        }
      },
      "TenantResumoNumeros": {
        "type": "object",
        "properties": {
          "organizacoesAtivas": {
            "type": "integer"
          },
          "pessoasAtivas": {
            "type": "integer"
          },
          "setores": {
            "type": "integer"
          },
          "cargosAtivos": {
            "type": "integer"
          }
        },
        "required": [
          "organizacoesAtivas",
          "pessoasAtivas",
          "setores",
          "cargosAtivos"
        ]
      },
      "UploadAnexoTenant": {
        "type": "object",
        "properties": {
          "fileName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "contentType": {
            "type": "string",
            "default": "application/octet-stream"
          },
          "conteudoBase64": {
            "type": "string",
            "minLength": 1
          },
          "tipoDocumentoId": {
            "type": "string",
            "description": "Tipo de documento (obrigatório) — aplicável a ORGANIZACOES",
            "example": "tdc_0QNQBJRD9JKVW"
          }
        },
        "required": [
          "fileName",
          "conteudoBase64",
          "tipoDocumentoId"
        ]
      },
      "AnexoTenantUrl": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          }
        },
        "required": [
          "url"
        ]
      },
      "Perfil": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "prf_0QNQBJRD9JKW0"
          },
          "nome": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "tenantId": {
            "type": "string",
            "nullable": true,
            "example": "ten_0QNQBJRD9JKV0"
          },
          "perfilPaiId": {
            "type": "string",
            "nullable": true,
            "example": "prf_0QNQBJRD9JKW0"
          },
          "permissoes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "pessoas:listar",
              "pessoas:criar"
            ]
          },
          "ativo": {
            "type": "boolean"
          },
          "criadoEm": {
            "type": "string"
          },
          "atualizadoEm": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "nome",
          "slug",
          "tenantId",
          "perfilPaiId",
          "permissoes",
          "ativo",
          "criadoEm",
          "atualizadoEm"
        ]
      },
      "PerfilPage": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Perfil"
            }
          },
          "page": {
            "type": "integer"
          },
          "size": {
            "type": "integer"
          },
          "totalElements": {
            "type": "integer"
          },
          "totalPages": {
            "type": "integer"
          },
          "hasNextPage": {
            "type": "boolean"
          },
          "hasPreviousPage": {
            "type": "boolean"
          }
        },
        "required": [
          "content",
          "page",
          "size",
          "totalElements",
          "totalPages",
          "hasNextPage",
          "hasPreviousPage"
        ]
      },
      "CriarPerfil": {
        "type": "object",
        "properties": {
          "nome": {
            "type": "string",
            "minLength": 1,
            "maxLength": 60,
            "example": "Analista SST"
          },
          "slug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 60,
            "pattern": "^[a-z0-9]+(?:[_-][a-z0-9]+)*$",
            "example": "analista_sst"
          },
          "permissoes": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 80
            },
            "default": [],
            "example": [
              "pessoas:listar",
              "pessoas:criar"
            ]
          },
          "tenantId": {
            "type": "string",
            "description": "Tenant de destino do perfil (seletor global do front) — precisa estar na árvore do usuário; omitido = tenant do usuário",
            "example": "ten_0QNQBJRD9JKVW"
          }
        },
        "required": [
          "nome",
          "slug"
        ]
      },
      "AtualizarPerfil": {
        "type": "object",
        "properties": {
          "nome": {
            "type": "string",
            "minLength": 1,
            "maxLength": 60
          },
          "permissoes": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 80
            }
          }
        }
      },
      "PessoaSaudeResponse": {
        "type": "object",
        "nullable": true,
        "properties": {
          "tipoSanguineo": {
            "type": "string",
            "nullable": true,
            "example": "O+"
          },
          "cartaoSus": {
            "type": "string",
            "nullable": true,
            "example": "123456789012345"
          },
          "planoSaude": {
            "type": "string",
            "nullable": true,
            "example": "Unimed BH"
          },
          "alergiasConhecidas": {
            "type": "string",
            "nullable": true,
            "example": "Dipirona"
          },
          "condicoesRelevantes": {
            "type": "string",
            "nullable": true,
            "example": "Hipertensão controlada"
          },
          "ePcd": {
            "type": "boolean",
            "example": false
          },
          "tipoDeficiencia": {
            "type": "string",
            "nullable": true,
            "example": null
          }
        },
        "required": [
          "tipoSanguineo",
          "cartaoSus",
          "planoSaude",
          "alergiasConhecidas",
          "condicoesRelevantes",
          "ePcd",
          "tipoDeficiencia"
        ],
        "example": {
          "tipoSanguineo": "O+",
          "cartaoSus": "123456789012345",
          "planoSaude": "Unimed BH",
          "alergiasConhecidas": "Dipirona",
          "condicoesRelevantes": "Hipertensão controlada",
          "ePcd": false,
          "tipoDeficiencia": null
        }
      },
      "PessoaVinculoResponse": {
        "type": "object",
        "nullable": true,
        "properties": {
          "cargoId": {
            "type": "string",
            "nullable": true,
            "example": "crg_0QNQBJRD9JKVW"
          },
          "cargoNome": {
            "type": "string",
            "nullable": true,
            "example": "Motorista de carreta"
          },
          "setorId": {
            "type": "string",
            "nullable": true,
            "example": "set_0QNQBJRD9JKVW"
          },
          "setorNome": {
            "type": "string",
            "nullable": true,
            "example": "Transporte"
          },
          "agregador": {
            "type": "string",
            "nullable": true,
            "example": "Turno A"
          },
          "nit": {
            "type": "string",
            "nullable": true,
            "example": "12345678901"
          },
          "ctpsNumero": {
            "type": "string",
            "nullable": true,
            "example": "000123"
          },
          "ctpsSerie": {
            "type": "string",
            "nullable": true,
            "example": "SP"
          },
          "tipoContrato": {
            "type": "string",
            "nullable": true,
            "example": "CLT"
          },
          "turno": {
            "type": "string",
            "nullable": true,
            "example": "MORNING"
          },
          "centroCusto": {
            "type": "string",
            "nullable": true,
            "example": "Administrativo"
          },
          "dataAdmissao": {
            "type": "string",
            "nullable": true,
            "example": "2020-03-01"
          },
          "dataDemissao": {
            "type": "string",
            "nullable": true,
            "example": null
          },
          "categoriaEsocial": {
            "type": "string",
            "nullable": true,
            "example": "101"
          },
          "enviarEsocial": {
            "type": "boolean",
            "example": true
          },
          "controlaVencimentos": {
            "type": "boolean",
            "example": false
          },
          "afastadoDesde": {
            "type": "string",
            "nullable": true,
            "example": null
          },
          "eCandidato": {
            "type": "boolean",
            "example": false
          },
          "membroCipa": {
            "type": "boolean",
            "example": false
          },
          "empresaCedente": {
            "type": "string",
            "nullable": true,
            "example": null
          },
          "descricaoAtividade": {
            "type": "string",
            "nullable": true,
            "example": null
          },
          "requisitosCargo": {
            "type": "string",
            "nullable": true,
            "example": null
          },
          "recomendacoesCargo": {
            "type": "string",
            "nullable": true,
            "example": null
          },
          "procedimentosAcidente": {
            "type": "string",
            "nullable": true,
            "example": null
          },
          "responsabilidades": {
            "type": "string",
            "nullable": true,
            "example": null
          },
          "codigosPericulosidade": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "example": [
              "01.001"
            ]
          }
        },
        "required": [
          "cargoId",
          "cargoNome",
          "setorId",
          "setorNome",
          "agregador",
          "nit",
          "ctpsNumero",
          "ctpsSerie",
          "tipoContrato",
          "turno",
          "centroCusto",
          "dataAdmissao",
          "dataDemissao",
          "categoriaEsocial",
          "enviarEsocial",
          "controlaVencimentos",
          "afastadoDesde",
          "eCandidato",
          "membroCipa",
          "empresaCedente",
          "descricaoAtividade",
          "requisitosCargo",
          "recomendacoesCargo",
          "procedimentosAcidente",
          "responsabilidades",
          "codigosPericulosidade"
        ],
        "example": {
          "cargoId": "crg_0QNQBJRD9JKVW",
          "cargoNome": "Motorista de carreta",
          "setorId": "set_0QNQBJRD9JKVW",
          "setorNome": "Transporte",
          "agregador": "Turno A",
          "nit": "12345678901",
          "ctpsNumero": "000123",
          "ctpsSerie": "SP",
          "tipoContrato": "CLT",
          "turno": "MORNING",
          "centroCusto": "Administrativo",
          "dataAdmissao": "2020-03-01",
          "dataDemissao": null,
          "categoriaEsocial": "101",
          "enviarEsocial": true,
          "controlaVencimentos": false,
          "afastadoDesde": null,
          "eCandidato": false,
          "membroCipa": false,
          "empresaCedente": null,
          "descricaoAtividade": null,
          "requisitosCargo": null,
          "recomendacoesCargo": null,
          "procedimentosAcidente": null,
          "responsabilidades": null,
          "codigosPericulosidade": [
            "01.001"
          ]
        }
      },
      "PessoaTerceirizadoResponse": {
        "type": "object",
        "nullable": true,
        "properties": {
          "cnpj": {
            "type": "string",
            "nullable": true,
            "example": "12.345.678/0001-90"
          },
          "razaoSocial": {
            "type": "string",
            "nullable": true,
            "example": "Prestadora Médica Ltda"
          },
          "numeroContrato": {
            "type": "string",
            "nullable": true,
            "example": "CONT-2026-001"
          },
          "inicioContrato": {
            "type": "string",
            "nullable": true,
            "example": "2026-01-01"
          },
          "fimContrato": {
            "type": "string",
            "nullable": true,
            "example": "2026-12-31"
          },
          "especialidade": {
            "type": "string",
            "nullable": true,
            "example": "Medicina do Trabalho"
          }
        },
        "required": [
          "cnpj",
          "razaoSocial",
          "numeroContrato",
          "inicioContrato",
          "fimContrato",
          "especialidade"
        ],
        "example": {
          "cnpj": "12.345.678/0001-90",
          "razaoSocial": "Prestadora Médica Ltda",
          "numeroContrato": "CONT-2026-001",
          "inicioContrato": "2026-01-01",
          "fimContrato": "2026-12-31",
          "especialidade": "Medicina do Trabalho"
        }
      },
      "Pessoa": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "pes_0QNQBJRD9JKVW"
          },
          "tenantId": {
            "type": "string",
            "example": "ten_0QNQBJRD9JKVW"
          },
          "organizacaoId": {
            "type": "string",
            "nullable": true,
            "example": "org_0QNQBJRD9JKVW"
          },
          "tipoPessoa": {
            "type": "string",
            "nullable": true,
            "example": "employee"
          },
          "codigo": {
            "type": "string",
            "nullable": true,
            "example": "EMP-001"
          },
          "codigoIntegracao": {
            "type": "string",
            "nullable": true
          },
          "nomeCompleto": {
            "type": "string",
            "example": "João da Silva"
          },
          "cpf": {
            "type": "string",
            "nullable": true,
            "example": "98765432100"
          },
          "sexo": {
            "type": "string",
            "nullable": true,
            "example": "M"
          },
          "dataNascimento": {
            "type": "string",
            "nullable": true,
            "example": "1980-01-15"
          },
          "estadoCivil": {
            "type": "string",
            "nullable": true,
            "example": "CASADO"
          },
          "nomeMae": {
            "type": "string",
            "nullable": true
          },
          "nomePai": {
            "type": "string",
            "nullable": true
          },
          "numeroDocumentoAux": {
            "type": "string",
            "nullable": true,
            "example": "37.015.987-1"
          },
          "orgaoEmissorDocAux": {
            "type": "string",
            "nullable": true,
            "example": "SSP"
          },
          "ufDocumentoAux": {
            "type": "string",
            "nullable": true,
            "example": "SP"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "address": {
                  "type": "string",
                  "format": "email",
                  "example": "joao@empresa.com.br"
                },
                "validated": {
                  "type": "boolean",
                  "default": false
                }
              },
              "required": [
                "address"
              ]
            },
            "example": [
              {
                "address": "joao.silva@empresa.com.br",
                "validated": true
              },
              {
                "address": "joao.silva@gmail.com",
                "validated": false
              }
            ]
          },
          "numerosTelefone": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "areaCode": {
                  "type": "string",
                  "maxLength": 3,
                  "example": "11"
                },
                "number": {
                  "type": "string",
                  "maxLength": 15,
                  "example": "999990001"
                },
                "validated": {
                  "type": "boolean",
                  "default": false
                }
              },
              "required": [
                "areaCode",
                "number"
              ]
            },
            "example": [
              {
                "areaCode": "11",
                "number": "999990001",
                "validated": false
              },
              {
                "areaCode": "11",
                "number": "33334444",
                "validated": false
              }
            ]
          },
          "cep": {
            "type": "string",
            "nullable": true,
            "example": "01310100"
          },
          "cidadeId": {
            "type": "string",
            "nullable": true,
            "example": "cid_0QNQBJRD9JKVW"
          },
          "cidadeNome": {
            "type": "string",
            "nullable": true,
            "example": "São Paulo"
          },
          "cidadeUf": {
            "type": "string",
            "nullable": true,
            "example": "SP"
          },
          "latitude": {
            "type": "number",
            "nullable": true
          },
          "longitude": {
            "type": "number",
            "nullable": true
          },
          "logradouro": {
            "type": "string",
            "nullable": true,
            "example": "Av. Paulista"
          },
          "numeroEndereco": {
            "type": "string",
            "nullable": true,
            "example": "1000"
          },
          "complementoEndereco": {
            "type": "string",
            "nullable": true,
            "example": "Apto 42"
          },
          "bairro": {
            "type": "string",
            "nullable": true,
            "example": "Bela Vista"
          },
          "enderecosAdicionais": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "nullable": true,
                  "example": "correspondence"
                },
                "cep": {
                  "type": "string",
                  "nullable": true
                },
                "cidadeId": {
                  "type": "string",
                  "nullable": true,
                  "example": "cid_0QNQBJRD9JKVW"
                },
                "logradouro": {
                  "type": "string",
                  "nullable": true
                },
                "numeroEndereco": {
                  "type": "string",
                  "nullable": true
                },
                "complementoEndereco": {
                  "type": "string",
                  "nullable": true
                },
                "bairro": {
                  "type": "string",
                  "nullable": true
                }
              }
            },
            "example": [
              {
                "type": "correspondence",
                "cep": "04538133",
                "cidadeId": "cid_0QNQBJRD9JKVW",
                "logradouro": "Av. Brigadeiro Faria Lima",
                "numeroEndereco": "3477",
                "complementoEndereco": null,
                "bairro": "Itaim Bibi"
              }
            ]
          },
          "tagsPessoa": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "SST",
              "NR-15",
              "CIPA"
            ]
          },
          "comoConheceu": {
            "type": "string",
            "nullable": true,
            "example": null
          },
          "nomeUnidade": {
            "type": "string",
            "nullable": true,
            "example": null
          },
          "unidadeId": {
            "type": "string",
            "nullable": true,
            "example": "loc_0QNQBJRD9JKVW"
          },
          "gestorId": {
            "type": "string",
            "nullable": true,
            "example": null
          },
          "idpUsuarioId": {
            "type": "string",
            "nullable": true,
            "description": "Identidade no IDP — presente quando a pessoa tem acesso",
            "example": null
          },
          "perfilId": {
            "type": "string",
            "nullable": true,
            "example": "prf_0QNQBJRD9JKVW"
          },
          "codigosExternos": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "example": {
              "sgg": "EMP-00042",
              "dozemed": "9981"
            }
          },
          "saude": {
            "$ref": "#/components/schemas/PessoaSaudeResponse"
          },
          "vinculo": {
            "$ref": "#/components/schemas/PessoaVinculoResponse"
          },
          "terceirizado": {
            "$ref": "#/components/schemas/PessoaTerceirizadoResponse"
          },
          "ativo": {
            "type": "boolean",
            "example": true
          },
          "tokenApiPrefixo": {
            "type": "string",
            "nullable": true,
            "description": "Prefixo do token de API ativo (feature-020) — null = sem token",
            "example": "A1B2C3D4E5F6G7H8"
          },
          "tokenApiExpiraEm": {
            "type": "string",
            "nullable": true,
            "example": "2027-01-01T00:00:00.000Z"
          },
          "tokenMcpPrefixo": {
            "type": "string",
            "nullable": true,
            "description": "Prefixo do token MCP ativo (feature-215) — null = sem token",
            "example": "A1B2C3D4E5F6G7H8"
          },
          "tokenMcpValidoAte": {
            "type": "string",
            "nullable": true,
            "example": "2027-01-01"
          },
          "tokenMcpSomenteLeitura": {
            "type": "boolean",
            "nullable": true,
            "example": true
          },
          "elegivelTokenMcp": {
            "type": "boolean",
            "description": "Administrador geral (admin no tenant Doze) — único que pode ter token MCP"
          },
          "anexos": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "fileType": {
                  "type": "string"
                },
                "fileName": {
                  "type": "string"
                },
                "s3Path": {
                  "type": "string"
                },
                "public": {
                  "type": "boolean"
                },
                "publicLink": {
                  "type": "string",
                  "nullable": true
                },
                "tipoDocumentoId": {
                  "type": "string",
                  "nullable": true,
                  "example": "tdc_0QNQBJRD9JKVW"
                },
                "visibilidade": {
                  "type": "string",
                  "enum": [
                    "INTERNO",
                    "EXTERNO"
                  ],
                  "description": "EXTERNO = o cliente vê. INTERNO = só a Doze e o médico."
                }
              },
              "required": [
                "fileType",
                "fileName",
                "s3Path",
                "public",
                "publicLink",
                "tipoDocumentoId"
              ]
            },
            "description": "Documentos da pessoa (S3 privado, feature-021)"
          },
          "fotoUrl": {
            "type": "string",
            "nullable": true,
            "description": "URL assinada (5 min) da foto de perfil — null quando não há foto"
          },
          "criadoEm": {
            "type": "string",
            "example": "2026-01-01T00:00:00.000Z"
          },
          "atualizadoEm": {
            "type": "string",
            "example": "2026-06-19T15:00:00.000Z"
          }
        },
        "required": [
          "id",
          "tenantId",
          "organizacaoId",
          "tipoPessoa",
          "codigo",
          "codigoIntegracao",
          "nomeCompleto",
          "cpf",
          "sexo",
          "dataNascimento",
          "estadoCivil",
          "nomeMae",
          "nomePai",
          "numeroDocumentoAux",
          "orgaoEmissorDocAux",
          "ufDocumentoAux",
          "emails",
          "numerosTelefone",
          "cep",
          "cidadeId",
          "cidadeNome",
          "cidadeUf",
          "latitude",
          "longitude",
          "logradouro",
          "numeroEndereco",
          "complementoEndereco",
          "bairro",
          "enderecosAdicionais",
          "tagsPessoa",
          "comoConheceu",
          "nomeUnidade",
          "unidadeId",
          "gestorId",
          "idpUsuarioId",
          "perfilId",
          "codigosExternos",
          "saude",
          "vinculo",
          "terceirizado",
          "ativo",
          "tokenApiPrefixo",
          "tokenApiExpiraEm",
          "tokenMcpPrefixo",
          "tokenMcpValidoAte",
          "tokenMcpSomenteLeitura",
          "elegivelTokenMcp",
          "anexos",
          "criadoEm",
          "atualizadoEm"
        ]
      },
      "PessoaPage": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Pessoa"
            }
          },
          "page": {
            "type": "integer"
          },
          "size": {
            "type": "integer"
          },
          "totalElements": {
            "type": "integer"
          },
          "totalPages": {
            "type": "integer"
          },
          "hasNextPage": {
            "type": "boolean"
          },
          "hasPreviousPage": {
            "type": "boolean"
          }
        },
        "required": [
          "content",
          "page",
          "size",
          "totalElements",
          "totalPages",
          "hasNextPage",
          "hasPreviousPage"
        ]
      },
      "PerfilAcessoAtualizado": {
        "type": "object",
        "properties": {
          "pessoaId": {
            "type": "string",
            "example": "pes_0QNQBJRD9JKW0"
          },
          "perfilId": {
            "type": "string",
            "example": "prf_0QNQBJRD9JKW0"
          }
        },
        "required": [
          "pessoaId",
          "perfilId"
        ]
      },
      "AlterarPerfilAcesso": {
        "type": "object",
        "properties": {
          "perfilId": {
            "type": "string",
            "example": "prf_0QNQBJRD9JKW0"
          }
        },
        "required": [
          "perfilId"
        ]
      },
      "PessoaSaudeInput": {
        "type": "object",
        "nullable": true,
        "properties": {
          "tipoSanguineo": {
            "type": "string",
            "nullable": true,
            "enum": [
              "A+",
              "A-",
              "B+",
              "B-",
              "AB+",
              "AB-",
              "O+",
              "O-"
            ]
          },
          "cartaoSus": {
            "type": "string",
            "nullable": true,
            "maxLength": 30
          },
          "planoSaude": {
            "type": "string",
            "nullable": true,
            "maxLength": 150
          },
          "alergiasConhecidas": {
            "type": "string",
            "nullable": true
          },
          "condicoesRelevantes": {
            "type": "string",
            "nullable": true
          },
          "ePcd": {
            "type": "boolean",
            "nullable": true
          },
          "tipoDeficiencia": {
            "type": "string",
            "nullable": true,
            "maxLength": 150
          }
        }
      },
      "PessoaVinculoInput": {
        "type": "object",
        "nullable": true,
        "properties": {
          "cargoId": {
            "type": "string",
            "example": "crg_0QNQBJRD9JKVW"
          },
          "setorId": {
            "type": "string",
            "example": "set_0QNQBJRD9JKVW"
          },
          "agregador": {
            "type": "string",
            "nullable": true,
            "maxLength": 60
          },
          "nit": {
            "type": "string",
            "nullable": true,
            "maxLength": 14,
            "example": "12345678901"
          },
          "ctpsNumero": {
            "type": "string",
            "nullable": true,
            "maxLength": 20
          },
          "ctpsSerie": {
            "type": "string",
            "nullable": true,
            "maxLength": 10
          },
          "tipoContrato": {
            "type": "string",
            "nullable": true,
            "enum": [
              "CLT",
              "PJ",
              "INTERN",
              "TEMP"
            ]
          },
          "turno": {
            "type": "string",
            "nullable": true,
            "enum": [
              "MORNING",
              "AFTERNOON",
              "NIGHT",
              "ROTATING",
              "FULL_TIME"
            ]
          },
          "centroCusto": {
            "type": "string",
            "nullable": true,
            "maxLength": 100
          },
          "dataAdmissao": {
            "type": "string",
            "nullable": true,
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "dataDemissao": {
            "type": "string",
            "nullable": true,
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "categoriaEsocial": {
            "type": "string",
            "nullable": true,
            "maxLength": 10
          },
          "enviarEsocial": {
            "type": "boolean",
            "nullable": true
          },
          "controlaVencimentos": {
            "type": "boolean",
            "nullable": true
          },
          "afastadoDesde": {
            "type": "string",
            "nullable": true,
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "eCandidato": {
            "type": "boolean",
            "nullable": true
          },
          "membroCipa": {
            "type": "boolean",
            "nullable": true
          },
          "empresaCedente": {
            "type": "string",
            "nullable": true,
            "maxLength": 100
          },
          "descricaoAtividade": {
            "type": "string",
            "nullable": true
          },
          "requisitosCargo": {
            "type": "string",
            "nullable": true
          },
          "recomendacoesCargo": {
            "type": "string",
            "nullable": true
          },
          "procedimentosAcidente": {
            "type": "string",
            "nullable": true
          },
          "responsabilidades": {
            "type": "string",
            "nullable": true
          },
          "codigosPericulosidade": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "example": [
              "01.001",
              "01.002"
            ]
          }
        }
      },
      "PessoaTerceirizadoInput": {
        "type": "object",
        "nullable": true,
        "properties": {
          "cnpj": {
            "type": "string",
            "nullable": true,
            "maxLength": 18,
            "example": "12.345.678/0001-90"
          },
          "razaoSocial": {
            "type": "string",
            "nullable": true,
            "maxLength": 150
          },
          "numeroContrato": {
            "type": "string",
            "nullable": true,
            "maxLength": 60
          },
          "inicioContrato": {
            "type": "string",
            "nullable": true,
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "fimContrato": {
            "type": "string",
            "nullable": true,
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "especialidade": {
            "type": "string",
            "nullable": true,
            "maxLength": 150
          }
        }
      },
      "CriarPessoa": {
        "type": "object",
        "properties": {
          "organizacaoId": {
            "type": "string",
            "example": "org_0QNQBJRD9JKVW"
          },
          "latitude": {
            "type": "number",
            "nullable": true,
            "minimum": -90,
            "maximum": 90,
            "description": "Coordenada manual (PIN/digitação) — tem precedência sobre o geocode automático",
            "example": -23.0297
          },
          "longitude": {
            "type": "number",
            "nullable": true,
            "minimum": -180,
            "maximum": 180,
            "example": -46.9752
          },
          "tipoPessoa": {
            "type": "string",
            "nullable": true,
            "enum": [
              "employee",
              "holder",
              "contractor",
              "intern",
              "consumer",
              "patient"
            ],
            "example": "employee"
          },
          "codigo": {
            "type": "string",
            "nullable": true,
            "maxLength": 30
          },
          "codigoIntegracao": {
            "type": "string",
            "nullable": true,
            "maxLength": 255
          },
          "nomeCompleto": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150,
            "example": "João da Silva"
          },
          "sexo": {
            "type": "string",
            "nullable": true,
            "enum": [
              "M",
              "F"
            ]
          },
          "dataNascimento": {
            "type": "string",
            "nullable": true,
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "example": "1980-01-15"
          },
          "estadoCivil": {
            "type": "string",
            "nullable": true,
            "maxLength": 30
          },
          "nomeMae": {
            "type": "string",
            "nullable": true,
            "maxLength": 150
          },
          "nomePai": {
            "type": "string",
            "nullable": true,
            "maxLength": 150
          },
          "numeroDocumentoAux": {
            "type": "string",
            "nullable": true,
            "maxLength": 20,
            "example": "37.015.987-1"
          },
          "orgaoEmissorDocAux": {
            "type": "string",
            "nullable": true,
            "maxLength": 20
          },
          "ufDocumentoAux": {
            "type": "string",
            "nullable": true,
            "maxLength": 2
          },
          "emails": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object",
              "properties": {
                "address": {
                  "type": "string",
                  "format": "email",
                  "example": "joao@empresa.com.br"
                },
                "validated": {
                  "type": "boolean",
                  "default": false
                }
              },
              "required": [
                "address"
              ]
            },
            "example": [
              {
                "address": "joao@empresa.com.br",
                "validated": true
              }
            ]
          },
          "numerosTelefone": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object",
              "properties": {
                "areaCode": {
                  "type": "string",
                  "maxLength": 3,
                  "example": "11"
                },
                "number": {
                  "type": "string",
                  "maxLength": 15,
                  "example": "999990001"
                },
                "validated": {
                  "type": "boolean",
                  "default": false
                }
              },
              "required": [
                "areaCode",
                "number"
              ]
            },
            "example": [
              {
                "areaCode": "11",
                "number": "999990001",
                "validated": false
              }
            ]
          },
          "cep": {
            "type": "string",
            "nullable": true,
            "maxLength": 20
          },
          "cidadeId": {
            "type": "string",
            "example": "cid_0QNQBJRD9JKVW"
          },
          "logradouro": {
            "type": "string",
            "nullable": true,
            "maxLength": 255
          },
          "numeroEndereco": {
            "type": "string",
            "nullable": true,
            "maxLength": 20
          },
          "complementoEndereco": {
            "type": "string",
            "nullable": true,
            "maxLength": 100
          },
          "bairro": {
            "type": "string",
            "nullable": true,
            "maxLength": 255
          },
          "enderecosAdicionais": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "nullable": true,
                  "maxLength": 40,
                  "example": "correspondence"
                },
                "cep": {
                  "type": "string",
                  "nullable": true,
                  "maxLength": 20
                },
                "cidadeId": {
                  "type": "string",
                  "example": "cid_0QNQBJRD9JKVW"
                },
                "logradouro": {
                  "type": "string",
                  "nullable": true,
                  "maxLength": 255
                },
                "numeroEndereco": {
                  "type": "string",
                  "nullable": true,
                  "maxLength": 20
                },
                "complementoEndereco": {
                  "type": "string",
                  "nullable": true,
                  "maxLength": 100
                },
                "bairro": {
                  "type": "string",
                  "nullable": true,
                  "maxLength": 255
                }
              }
            }
          },
          "tagsPessoa": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "example": [
              "SST",
              "NR-15"
            ]
          },
          "comoConheceu": {
            "type": "string",
            "nullable": true,
            "maxLength": 100
          },
          "gestorId": {
            "type": "string",
            "example": "pes_0QNQBJRD9JKVW"
          },
          "perfilId": {
            "type": "string",
            "description": "Perfil de acesso da pessoa (prf_ + TSID). O login em si é provisionado via conceder-acesso.",
            "example": "prf_0QNQBJRD9JKVW"
          },
          "codigosExternos": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "type": "string"
            }
          },
          "saude": {
            "$ref": "#/components/schemas/PessoaSaudeInput"
          },
          "vinculo": {
            "$ref": "#/components/schemas/PessoaVinculoInput"
          },
          "terceirizado": {
            "$ref": "#/components/schemas/PessoaTerceirizadoInput"
          },
          "cpf": {
            "type": "string",
            "nullable": true,
            "pattern": "^\\d{11}$",
            "example": "98765432100"
          },
          "tenantId": {
            "type": "string",
            "description": "Tenant de destino do cadastro (seletor global do front) — precisa estar na árvore do usuário; omitido = tenant do usuário",
            "example": "ten_0QNQBJRD9JKVW"
          }
        },
        "required": [
          "nomeCompleto"
        ]
      },
      "AtualizarStatusLoteResultado": {
        "type": "object",
        "properties": {
          "totalInformados": {
            "type": "integer",
            "description": "CPFs válidos e únicos recebidos"
          },
          "encontrados": {
            "type": "integer",
            "description": "CPFs da lista com pessoa ativa no tenant"
          },
          "inativados": {
            "type": "integer",
            "description": "Pessoas inativadas (0 em dryRun)"
          },
          "ignorados": {
            "type": "integer",
            "description": "CPFs da lista sem pessoa ativa correspondente"
          },
          "dryRun": {
            "type": "boolean"
          }
        },
        "required": [
          "totalInformados",
          "encontrados",
          "inativados",
          "ignorados",
          "dryRun"
        ]
      },
      "AtualizarStatusLote": {
        "type": "object",
        "properties": {
          "cpfs": {
            "type": "array",
            "items": {
              "type": "string",
              "pattern": "^\\d{11}$"
            },
            "minItems": 1,
            "maxItems": 50000,
            "description": "Lista de CPFs (sem máscara)",
            "example": [
              "98765432100"
            ]
          },
          "modo": {
            "type": "string",
            "enum": [
              "INATIVAR_LISTADOS",
              "INATIVAR_NAO_LISTADOS"
            ],
            "description": "INATIVAR_LISTADOS = inativa quem está na lista (desligados); INATIVAR_NAO_LISTADOS = inativa quem NÃO está na lista (lista = quadro ativo)"
          },
          "dryRun": {
            "type": "boolean",
            "default": false,
            "description": "true = só calcula o resumo, não aplica nada (pré-confirmação do front)"
          },
          "tenantId": {
            "type": "string",
            "description": "Tenant alvo (seletor global) — validado na árvore; omitido = tenant do usuário",
            "example": "ten_0QNQBJRD9JKVW"
          },
          "organizacaoId": {
            "type": "string",
            "description": "Empresa alvo — recorta a operação a ela. Omitido = tenant inteiro, o que num tenant com várias empresas independentes atinge o quadro de todas.",
            "example": "org_0QNQBJRD9JKVW"
          }
        },
        "required": [
          "cpfs",
          "modo"
        ]
      },
      "AtualizarPessoa": {
        "type": "object",
        "properties": {
          "organizacaoId": {
            "type": "string",
            "example": "org_0QNQBJRD9JKVW"
          },
          "tipoPessoa": {
            "type": "string",
            "nullable": true,
            "enum": [
              "employee",
              "holder",
              "contractor",
              "intern",
              "consumer",
              "patient"
            ],
            "example": "employee"
          },
          "codigo": {
            "type": "string",
            "nullable": true,
            "maxLength": 30
          },
          "codigoIntegracao": {
            "type": "string",
            "nullable": true,
            "maxLength": 255
          },
          "nomeCompleto": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150,
            "example": "João da Silva"
          },
          "sexo": {
            "type": "string",
            "nullable": true,
            "enum": [
              "M",
              "F"
            ]
          },
          "dataNascimento": {
            "type": "string",
            "nullable": true,
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "example": "1980-01-15"
          },
          "estadoCivil": {
            "type": "string",
            "nullable": true,
            "maxLength": 30
          },
          "nomeMae": {
            "type": "string",
            "nullable": true,
            "maxLength": 150
          },
          "nomePai": {
            "type": "string",
            "nullable": true,
            "maxLength": 150
          },
          "numeroDocumentoAux": {
            "type": "string",
            "nullable": true,
            "maxLength": 20,
            "example": "37.015.987-1"
          },
          "orgaoEmissorDocAux": {
            "type": "string",
            "nullable": true,
            "maxLength": 20
          },
          "ufDocumentoAux": {
            "type": "string",
            "nullable": true,
            "maxLength": 2
          },
          "emails": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object",
              "properties": {
                "address": {
                  "type": "string",
                  "format": "email",
                  "example": "joao@empresa.com.br"
                },
                "validated": {
                  "type": "boolean",
                  "default": false
                }
              },
              "required": [
                "address"
              ]
            },
            "example": [
              {
                "address": "joao@empresa.com.br",
                "validated": true
              }
            ]
          },
          "numerosTelefone": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object",
              "properties": {
                "areaCode": {
                  "type": "string",
                  "maxLength": 3,
                  "example": "11"
                },
                "number": {
                  "type": "string",
                  "maxLength": 15,
                  "example": "999990001"
                },
                "validated": {
                  "type": "boolean",
                  "default": false
                }
              },
              "required": [
                "areaCode",
                "number"
              ]
            },
            "example": [
              {
                "areaCode": "11",
                "number": "999990001",
                "validated": false
              }
            ]
          },
          "cep": {
            "type": "string",
            "nullable": true,
            "maxLength": 20
          },
          "cidadeId": {
            "type": "string",
            "example": "cid_0QNQBJRD9JKVW"
          },
          "logradouro": {
            "type": "string",
            "nullable": true,
            "maxLength": 255
          },
          "numeroEndereco": {
            "type": "string",
            "nullable": true,
            "maxLength": 20
          },
          "complementoEndereco": {
            "type": "string",
            "nullable": true,
            "maxLength": 100
          },
          "bairro": {
            "type": "string",
            "nullable": true,
            "maxLength": 255
          },
          "latitude": {
            "type": "number",
            "nullable": true,
            "minimum": -90,
            "maximum": 90,
            "description": "Coordenada manual (PIN/digitação) — tem precedência sobre o geocode automático",
            "example": -23.0297
          },
          "longitude": {
            "type": "number",
            "nullable": true,
            "minimum": -180,
            "maximum": 180,
            "example": -46.9752
          },
          "enderecosAdicionais": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "nullable": true,
                  "maxLength": 40,
                  "example": "correspondence"
                },
                "cep": {
                  "type": "string",
                  "nullable": true,
                  "maxLength": 20
                },
                "cidadeId": {
                  "type": "string",
                  "example": "cid_0QNQBJRD9JKVW"
                },
                "logradouro": {
                  "type": "string",
                  "nullable": true,
                  "maxLength": 255
                },
                "numeroEndereco": {
                  "type": "string",
                  "nullable": true,
                  "maxLength": 20
                },
                "complementoEndereco": {
                  "type": "string",
                  "nullable": true,
                  "maxLength": 100
                },
                "bairro": {
                  "type": "string",
                  "nullable": true,
                  "maxLength": 255
                }
              }
            }
          },
          "tagsPessoa": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "example": [
              "SST",
              "NR-15"
            ]
          },
          "comoConheceu": {
            "type": "string",
            "nullable": true,
            "maxLength": 100
          },
          "gestorId": {
            "type": "string",
            "example": "pes_0QNQBJRD9JKVW"
          },
          "perfilId": {
            "type": "string",
            "description": "Perfil de acesso da pessoa (prf_ + TSID). O login em si é provisionado via conceder-acesso.",
            "example": "prf_0QNQBJRD9JKVW"
          },
          "codigosExternos": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "type": "string"
            }
          },
          "saude": {
            "$ref": "#/components/schemas/PessoaSaudeInput"
          },
          "vinculo": {
            "$ref": "#/components/schemas/PessoaVinculoInput"
          },
          "terceirizado": {
            "$ref": "#/components/schemas/PessoaTerceirizadoInput"
          },
          "ativo": {
            "type": "boolean",
            "description": "false inativa a pessoa; true reativa. Omitido = mantém como está.",
            "example": false
          }
        }
      },
      "UploadAnexoPessoa": {
        "type": "object",
        "properties": {
          "fileName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "example": "RG.pdf"
          },
          "contentType": {
            "type": "string",
            "default": "application/octet-stream"
          },
          "conteudoBase64": {
            "type": "string",
            "minLength": 1
          },
          "tipoDocumentoId": {
            "type": "string",
            "description": "Tipo de documento (obrigatório) — aplicável a PESSOAS",
            "example": "tdc_0QNQBJRD9JKVW"
          },
          "visibilidade": {
            "type": "string",
            "enum": [
              "INTERNO",
              "EXTERNO"
            ],
            "default": "INTERNO"
          }
        },
        "required": [
          "fileName",
          "conteudoBase64",
          "tipoDocumentoId"
        ]
      },
      "UploadFotoPessoa": {
        "type": "object",
        "properties": {
          "fileName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "example": "foto.webp"
          },
          "contentType": {
            "type": "string",
            "enum": [
              "image/jpeg",
              "image/png",
              "image/webp"
            ],
            "example": "image/webp"
          },
          "conteudoBase64": {
            "type": "string",
            "minLength": 1,
            "description": "Imagem em base64, até 5 MB"
          }
        },
        "required": [
          "fileName",
          "contentType",
          "conteudoBase64"
        ]
      },
      "AnexoPessoaUrl": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          }
        },
        "required": [
          "url"
        ]
      },
      "VisibilidadeAnexoPessoa": {
        "type": "object",
        "properties": {
          "visibilidade": {
            "type": "string",
            "enum": [
              "INTERNO",
              "EXTERNO"
            ]
          }
        },
        "required": [
          "visibilidade"
        ]
      },
      "GerarTokenApiResponse": {
        "type": "object",
        "properties": {
          "pessoaId": {
            "type": "string",
            "example": "pes_0QNQBJRD9JKVW"
          },
          "apiToken": {
            "type": "string",
            "description": "Token completo — exibido uma única vez. Impossível recuperar após esta resposta.",
            "example": "yvx_a1b2c3d4e5f6g7h8_xyzABCDEFGHIJKLMNOPQRSTUVWXYZ012345678901234"
          },
          "expiresAt": {
            "type": "string",
            "nullable": true,
            "example": "2027-01-01T00:00:00.000Z"
          },
          "warning": {
            "type": "string",
            "example": "Guarde este token agora — ele não será exibido novamente."
          }
        },
        "required": [
          "pessoaId",
          "apiToken",
          "expiresAt",
          "warning"
        ]
      },
      "GerarTokenApiRequest": {
        "type": "object",
        "properties": {
          "expiresAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "Expiração do token. Omitir = sem expiração (não recomendado).",
            "example": "2027-01-01T00:00:00Z"
          }
        }
      },
      "GerarTokenMcpResponse": {
        "type": "object",
        "properties": {
          "pessoaId": {
            "type": "string",
            "example": "pes_0QNQBJRD9JKVW"
          },
          "mcpToken": {
            "type": "string",
            "description": "Token completo — exibido uma única vez.",
            "example": "yvxmcp_A1B2C3D4E5F6G7H8_XYZABCDEFGHJKMNPQRSTVWXYZ0123456789ABCDE"
          },
          "validoAte": {
            "type": "string",
            "example": "2027-01-01"
          },
          "somenteLeitura": {
            "type": "boolean"
          },
          "warning": {
            "type": "string"
          }
        },
        "required": [
          "pessoaId",
          "mcpToken",
          "validoAte",
          "somenteLeitura",
          "warning"
        ]
      },
      "GerarTokenMcpRequest": {
        "type": "object",
        "properties": {
          "validoAte": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "description": "Último dia de validade (obrigatória, máx. 365 dias)",
            "example": "2027-01-01"
          },
          "somenteLeitura": {
            "type": "boolean",
            "description": "true = bloqueia métodos de escrita",
            "example": true
          }
        },
        "required": [
          "validoAte",
          "somenteLeitura"
        ]
      },
      "ConcederAcessoResponse": {
        "type": "object",
        "properties": {
          "pessoaId": {
            "type": "string",
            "example": "pes_0QNQBJRD9JKVW"
          },
          "idpUsuarioId": {
            "type": "string",
            "example": "idp_abc123def456"
          },
          "idpAction": {
            "type": "string",
            "description": "\"created\" | \"linked\" | \"already_linked\"",
            "example": "created"
          },
          "login": {
            "type": "string",
            "description": "CPF usado como login no IDP (somente dígitos)",
            "example": "98765432100"
          },
          "passwordSource": {
            "type": "string",
            "enum": [
              "custom",
              "default"
            ],
            "description": "\"custom\" = senha informada; \"default\" = o próprio CPF sem formatação",
            "example": "default"
          }
        },
        "required": [
          "pessoaId",
          "idpUsuarioId",
          "idpAction",
          "login",
          "passwordSource"
        ]
      },
      "ConcederAcessoBody": {
        "type": "object",
        "properties": {
          "perfilId": {
            "type": "string",
            "description": "Obrigatório quando a pessoa ainda não tem perfil_id. Ignorado se já tiver perfil.",
            "example": "prf_0QNQBJRD9JKVW"
          },
          "password": {
            "type": "string",
            "nullable": true,
            "minLength": 6,
            "description": "Senha customizada (mín. 6 chars). Informar junto com passwordConfirm."
          },
          "passwordConfirm": {
            "type": "string",
            "nullable": true,
            "minLength": 6,
            "description": "Confirmação da senha. Deve coincidir com password."
          }
        },
        "example": {
          "perfilId": "prf_0QNQBJRD9JKVW",
          "password": "Senha@123",
          "passwordConfirm": "Senha@123"
        }
      },
      "OrganizacaoResumo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "org_0QNQBJRD9JKVW"
          },
          "nome": {
            "type": "string"
          },
          "razaoSocial": {
            "type": "string",
            "nullable": true
          },
          "codigo": {
            "type": "string",
            "nullable": true
          },
          "cnpj": {
            "type": "string",
            "nullable": true
          },
          "tipoRegistro": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "telefone": {
            "type": "string",
            "nullable": true
          },
          "organizacaoPaiId": {
            "type": "string",
            "nullable": true,
            "example": "org_0QNQBJRD9JKVW"
          },
          "ativo": {
            "type": "boolean"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "criadoEm": {
            "type": "string"
          },
          "atualizadoEm": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "nome",
          "razaoSocial",
          "codigo",
          "cnpj",
          "tipoRegistro",
          "email",
          "telefone",
          "organizacaoPaiId",
          "ativo",
          "tags",
          "criadoEm",
          "atualizadoEm"
        ]
      },
      "OrganizacaoPage": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrganizacaoResumo"
            }
          },
          "page": {
            "type": "integer"
          },
          "size": {
            "type": "integer"
          },
          "totalElements": {
            "type": "integer"
          },
          "totalPages": {
            "type": "integer"
          },
          "hasNextPage": {
            "type": "boolean"
          },
          "hasPreviousPage": {
            "type": "boolean"
          }
        },
        "required": [
          "content",
          "page",
          "size",
          "totalElements",
          "totalPages",
          "hasNextPage",
          "hasPreviousPage"
        ]
      },
      "EnderecoAdicionalOrganizacao": {
        "type": "object",
        "properties": {
          "tipo": {
            "type": "string",
            "enum": [
              "COBRANCA",
              "FISICO",
              "ENTREGA"
            ],
            "example": "COBRANCA"
          },
          "cep": {
            "type": "string",
            "nullable": true,
            "maxLength": 20
          },
          "logradouro": {
            "type": "string",
            "nullable": true,
            "maxLength": 255
          },
          "numero": {
            "type": "string",
            "nullable": true,
            "maxLength": 20
          },
          "complemento": {
            "type": "string",
            "nullable": true,
            "maxLength": 100
          },
          "bairro": {
            "type": "string",
            "nullable": true,
            "maxLength": 255
          },
          "cidade": {
            "type": "string",
            "nullable": true,
            "maxLength": 150
          },
          "uf": {
            "type": "string",
            "nullable": true,
            "maxLength": 2
          }
        },
        "required": [
          "tipo"
        ]
      },
      "ClinicaPreferencialOrganizacao": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "cln_0QNQBJRD9JKVW"
          },
          "nome": {
            "type": "string"
          },
          "logradouro": {
            "type": "string",
            "nullable": true
          },
          "numeroEndereco": {
            "type": "string",
            "nullable": true
          },
          "bairro": {
            "type": "string",
            "nullable": true
          },
          "nomeCidade": {
            "type": "string",
            "nullable": true
          },
          "uf": {
            "type": "string",
            "nullable": true
          },
          "tipoFila": {
            "type": "string",
            "nullable": true,
            "enum": [
              "ORDEM_CHEGADA",
              "HORA_MARCADA"
            ]
          }
        },
        "required": [
          "id",
          "nome",
          "logradouro",
          "numeroEndereco",
          "bairro",
          "nomeCidade",
          "uf",
          "tipoFila"
        ]
      },
      "LogoOrganizacao": {
        "type": "object",
        "properties": {
          "s3Path": {
            "type": "string",
            "example": "api-dozemed-dev/organizacoes/org_X/logo.png"
          },
          "publicUrl": {
            "type": "string",
            "example": "https://bucket-publico.s3.amazonaws.com/..."
          }
        },
        "required": [
          "s3Path",
          "publicUrl"
        ]
      },
      "AnexoOrganizacao": {
        "type": "object",
        "properties": {
          "tipoDocumentoId": {
            "type": "string",
            "nullable": true,
            "example": "tdc_0QNQBJRD9JKVW"
          },
          "fileType": {
            "type": "string",
            "example": "PDF"
          },
          "fileName": {
            "type": "string",
            "example": "Contrato social.pdf"
          },
          "s3Path": {
            "type": "string",
            "example": "api-dozemed-dev/organizacoes/org_X/Contrato social.pdf"
          },
          "public": {
            "type": "boolean"
          },
          "publicLink": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "fileType",
          "fileName",
          "s3Path",
          "public",
          "publicLink"
        ]
      },
      "Organizacao": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "org_0QNQBJRD9JKVW"
          },
          "tenantId": {
            "type": "string",
            "example": "ten_0QNQBJRD9JKVW"
          },
          "codigoIntegracao": {
            "type": "string",
            "nullable": true
          },
          "ativo": {
            "type": "boolean"
          },
          "nome": {
            "type": "string"
          },
          "razaoSocial": {
            "type": "string",
            "nullable": true
          },
          "codigo": {
            "type": "string",
            "nullable": true
          },
          "tipoRegistro": {
            "type": "string",
            "nullable": true
          },
          "cnpj": {
            "type": "string",
            "nullable": true
          },
          "inscricaoEstadual": {
            "type": "string",
            "nullable": true
          },
          "inscricaoMunicipal": {
            "type": "string",
            "nullable": true
          },
          "numeroDocumento": {
            "type": "string",
            "nullable": true
          },
          "cep": {
            "type": "string",
            "nullable": true
          },
          "cidadeId": {
            "type": "string",
            "nullable": true,
            "example": "cid_0QNQBJRD9JKVW"
          },
          "cidadeNome": {
            "type": "string",
            "nullable": true
          },
          "cidadeUf": {
            "type": "string",
            "nullable": true
          },
          "logradouro": {
            "type": "string",
            "nullable": true
          },
          "numeroEndereco": {
            "type": "string",
            "nullable": true
          },
          "complementoEndereco": {
            "type": "string",
            "nullable": true
          },
          "bairro": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "telefone": {
            "type": "string",
            "nullable": true
          },
          "organizacaoPaiId": {
            "type": "string",
            "nullable": true,
            "example": "org_0QNQBJRD9JKVW"
          },
          "codigosExternos": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "cnaePrincipal": {
            "type": "string",
            "nullable": true
          },
          "ramoAtividadeId": {
            "type": "string",
            "nullable": true,
            "example": "ram_000000000000N"
          },
          "ramoAtividadeNome": {
            "type": "string",
            "nullable": true
          },
          "ramosAtividade": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "SERV_LIMPEZA"
            ]
          },
          "cnaes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "enderecosAdicionais": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EnderecoAdicionalOrganizacao"
            }
          },
          "clinicasPreferenciais": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClinicaPreferencialOrganizacao"
            }
          },
[...]
